.vs/TaskManagment/FileContentIndex/074f9902-26c3-4d7d-8b9f-be758f5bd0f8.vsidx
taskmanagment.server/.vs/taskmanagment.server/FileContentIndex/058c032b-2b3e-4c2b-8d4a-3ff58dacfd30.vsidx
taskmanagment.server/.vs/taskmanagment.server/FileContentIndex/820f3138-7934-40f5-bda6-4ac3b6cd2fc3.vsidx
taskmanagment.server/.vs/taskmanagment.server/FileContentIndex/82ce5c26-0189-4c38-8f0a-e8fabb15fae0.vsidx
